mixin styles(links)
    each link, i in links
        link(rel='stylesheet', href='#{link}')

mixin scripts(links)
    each link, i in links
        script(src='#{link}')

!!! 5
html(lang="en")
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        +styles(links.styles)
        script(data-main="js/main", src="js/libs/require/require-2.1.5.min.js")
    body
        block header
            include ../header.jade
        
        block content

        block footer