extends ../layouts/signedin-layout

block content
	#advanced-search
		.container
			#course-search.row-fluid

			#course-container.row-fluid
			
			#availability-view.row-fluid(style="display:block;")

			.row-fluid
				.span12
					ul.pager