extends ../layouts/signedin-layout

block content
	#advanced-search
		.container
			.row
				.span3
					h3 Search class
				.span9
						div(style="margin-top: 15px;")
							form#advanced-course-search.form-inline(method="GET", action="/api/course")
								.input-append
									input#advanced-course-text.input-xxlarge(type="text")
									button#advanced-course-submit.btn.btn-flat.btn-red(type="submit") Search
			#results.container(style="display:none;")
				.row
					.span12
						#courses
							#courses-error.alert.alert-danger(style="display:none; text-align: center;")
							table#course-table.table.table-bordered.table-striped.table-hover
			.row
				.span9.offset3
					form
						button.btn.btn-flat.btn-red(type="submit") Create schedule