extends ../layouts/signedin-layout

block content
	#advanced-search
		.container
			#schedule-course-search.row-fluid

			#course-container.row-fluid
			
			#availability-view.row-fluid(style="display:none;")

			#generate-schedule.row-fluid(style="display:none;")

			#save-schedules.row-fluid(style="display:none;", data-user="#{currUserID}")

			.row-fluid
				.span12
					ul.pager