.container
	.navbar
		.navbar-inner
			a(href='/home', class='brand') Scheduler

			.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar

			.nav-collapse.collapse
				ul.nav.pull-right
					li: a(href='/about') About
					- if(loggedIn == true)
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown", href="#") #{currUser} 
								b.caret
							ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
								li
									a(tabindex="-1", href="/user/#{currUser}") 
										i.icon-home
										| Profile
									a(tabindex="-1", href="/user/#{currUser}/schedules") 
										i.icon-cog
										| Settings
									a(tabindex="-1", href="/logout") 
										i.icon-signout
										| Logout
					- else
						li: a(data-toggle='modal', href='#logIn') Log in
- if(loggedIn === false)
	div#signUp.modal.hide.fade(role='dialog', aria-hidden='true')
			div.modal-header
				button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
				h3 Sign up
			div.modal-body
				form#signup-form(action="#", method="POST")
					#signup-error.alert.alert-error
						p

					fieldset
						.input-state
							label First name
							input#firstName.span5(type='text', name='firstName', placeholder='First name')

						.input-state
							label Last name
							input#lastName.span5(type='text', name='lastName', placeholder='Last name')

						.input-state
							label Email
							input#email.span5(type='text', name='email', placeholder='Email')

						.input-state
							label Username
							input#userName.span5(type='text', name='userName', placeholder='Username')

						.input-state
							label Password
							input#password.span5(type='password', name='password', placeholder='Password')

						.input-state
							label Repeat password
							input#passwordRepeat.span5(type='password', placeholder='Repeat password')
						br

						button#signup-btn.btn.btn-danger(type='submit') Sign up
			div.modal-footer
				p.center-align Already have an account? Sign in 
					a(data-toggle='modal', href='/login') here
					.

	div#logIn.modal.hide.fade(role='dialog', aria-hidden='true')
		div.modal-header
			button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
			h3 Log in
		div.modal-body 
			form#signin-form(action="/login", method="POST")
				#signin-error.alert.alert-error
					p

				fieldset
					.input-state
						label Email
						input(type='text', name="email", placeholder='Email', class='span5')

					.input-state
						label Password
						input(type='password', name="password", placeholder='Password', class='span5')
					br 

					button#signin-btn.btn.btn-danger(type='submit') Log in
		div.modal-footer
			p.center-align Don't have an account? Sign up 
				a(data-toggle='modal', href='/signup') here
				.