<div class="container">
	<div class="hero-unit-landing">
		<h1>Scheduling</h1>
		<p>
			quick, easy, and efficient
		</p>
		<a class="btn" role="button" data-toggle="modal" href="#signUp">Sign up</a>
	</div>
	<div class="row marketing">
		<div class="span4">
			<h2>Create</h2>
			<p>
				Allow Scheduler to find the perfect schedule for you.
				Simply input the classes you wish to take and the time
				you are available to go to class and Scheduler will do
				the rest.
			</p>
		</div>

		<div class="span4">
			<h2>Save and archive</h2>
			<p>
				Create as many schedules as you'd like. You can save
				all your schedules to your account, allowing for review
				later. Schedules can be made private or public, it's up
				to you.
			</p>
		</div>

		<div class="span4">
			<h2>Push to the SIS</h2>
			<p>
				Once you're sure you have the perfect schedule for your
				needs it's time to save it. Scheduler allows you to update
				your scheudle on the SIS without leaving the site.
			</p>
		</div>
	</div>
</div>

<!-- Sign up modal -->
<div id="signUp" class="modal hide fade" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Sign up</h3>
	</div>
	<div class="modal-body">
		<% include signup.ejs %>
	</div>
	<div class="modal-footer">
		<p class="center-align">Already have an account? Sign in <a data-toggle="modal" href="/login">here</a>.</p>
	</div>
</div>

<!-- Log in modal -->
<div id="logIn" class="modal hide fade" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Sign up</h3>
	</div>
	<div class="modal-body">
		<% include login.ejs %>
	</div>
	<div class="modal-footer">
		<p class="center-align">Don't have an account? Sign up <a data-toggle="modal" href="/signup">here</a>.</p>
	</div>
</div>