extends layouts/default-layout

block content
	.container
		.page-panel
			form
				fieldset
					label Email
					input(type='text', placeholder='Email', class='span5')

					label Password
					input(type='text', placeholder='Password', class='span5')
					br 

					button.btn.btn-danger(type='submit') Log in