extends layouts/default-layout

block content
	.row
		.container
			.span2
			.span6.hero-unit-landing
				h2 Log in
				form#signin-page-form(action="/login", method="POST")
					#signin-error.alert.alert-error(style="display:none;")
						p

					fieldset
						label Email
						input(type='text', name="email", placeholder='Email', class='span5')

						label Password
						input(type='password', name="password", placeholder='Password', class='span5')
						br 

						button#signin-btn.btn(type='submit') Log in
			.span2