form
	fieldset
		label Email
		input(type='text', placeholder='Email', class='span5')

		label Password
		input(type='text', placeholder='Password', class='span5')

		button(type='submit' class='btn btn-danger') Log in