<form>
	<fieldset>
		<label>Email</label>
		<input type="text" placeholder="Email" class="span5">

		<label>Pasword</label>
		<input type="text" placeholder="Pasword" class="span5">

		<button type="submit" class="btn btn-danger">Log In</button>
	</fieldset>
</form>