extends layouts/default-layout

block content
	.row
		.container
			.span2
			.span6.hero-unit-landing
				form(action="/api/user", method="POST")
					fieldset
						label First name
						input.span5(type='text', name='firstName', placeholder='Email')

						label Last name
						input.span5(type='text', name='lastName', placeholder='Email')

						label Email
						input.span5(type='text', name='email', placeholder='Email')

						label Password
						input.span5(type='password', name='password', placeholder='Password')

						label Repeat password
						input.span5(type='password', placeholder='Repeat password')
						br

						button.btn(type='submit') Sign up
			.span2