extends layouts/default-layout

block content
	.row
		.container
			.span2
			.span6.hero-unit-landing
				form(action="/user/signup", method="POST")
					fieldset
						label Email
						input.span5(type='text', placeholder='Email')

						label Password
						input.span5(type='password', placeholder='Password')

						label Repeat password
						input.span5(type='password', placeholder='Repeat password')
						br

						button.btn(type='submit') Sign up
			.span2