<form>
	<fieldset>
		<label>Email</label>
		<input type="text" placeholder="Email" class="span5">

		<label>Pasword</label>
		<input type="text" placeholder="Pasword" class="span5">

		<label>Repeat password</label>
		<input type="text" placeholder="Repeat password" class="span5">
		<br />

		<button type="submit" class="btn btn-danger">Sign Up</button>
	</fieldset>
</form>