extends layouts/default-layout

block content
	.row
		.container
			.span2
			.span6.hero-unit-landing
				h2 Sign up
				form#signup-page-form(action="/api/user", method="POST")
					#signup-error.alert.alert-error(style="display:none;")
						p

					fieldset
						label First name
						input.span5(type='text', name='firstName', placeholder='First name')

						label Last name
						input.span5(type='text', name='lastName', placeholder='Last name')

						label Email
						input.span5(type='text', name='email', placeholder='Email')

						label Username
						input.span5(type='text', name='userName', placeholder='Username')

						label Password
						input.span5(type='password', name='password', placeholder='Password')

						label Repeat password
						input.span5(type='password', placeholder='Repeat password')
						br

						button#signup-btn.btn(type='submit') Sign up
			.span2