form
	fieldset
		label Email
		input.span5(type='text', placeholder='Email')

		label Password
		input.span5(type='password', placeholder='Password')

		label Repeat password
		input.span5(type='password', placeholder='Repeat password')
		br

		button.btn.btn-danger(type='submit') Sign up