.center-align {
  text-align: center;
  margin: 0 auto;
}

.marketing {
text-align: center;
color: #5a5a5a;
}

.hero-unit-landing {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: #fff;
  background-color: #BF5343;
  -webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
		  border-radius: 6px;
}

.hero-unit-landing h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit-landing li {
  line-height: 30px;
}

.scheduling-container {
  margin-top: 65px;
}

.scheduling-header > .navbar-inner {
  background: rgba(255, 255, 255, 0.9); /* nice browsers */
}

.pagehead {
  background-color: whitesmoke;
  padding: 10px 0;
  height: 40px;
}

.pagehead h2 {
  margin: 0;
}

.icon-chevron-right {
  padding-top: 3px;
}

.navbar-search {
  z-index: 1000;
}

.container > .search-nav {
  position: absolute;
  left: 460px;
}

.input-btn {
  position:absolute;
  display: block;
  top:5px;
  right:9px;
}

a.input-btn {
  text-decoration: none;
}

.input-btn > i {
  color: #999;
}

.input-btn > i:hover {
  color: #BF5343;
}

.navbar .nav > li.nav-btn > a {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 6px;
  margin-top: 6px;

  transition: color .8s, border-color .8s;
  -webkit-transition: color .8s, border-color .8s;
}

.navbar .nav > li.nav-btn > a:hover {
  border: 1px solid #aaa;
  color: #333;

  transition: color .8s, border-color .8s;
  -webkit-transition: color .8s, border-color .8s;
}

.navbar .nav > li > a:hover {
  color: #BF5343;
}

ul.dropdown-menu > li > a > i {
  margin-right: 6px;
}

.navbar .divider-vertical {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #dddddd;
}

.navbar .btn-navbar {
  background-color: #BF5343;
  background-image: none;
  padding: 4px 12px;
}

.navbar .btn-navbar:hover {
  background-color: white;
  border: 1px solid #bbb;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar span.icon-bar {
  color: #BF5343;
  background-image: none;
}

.btn-flat {
  background-image: none;
  box-shadow: none;
}

.btn.btn-disabled {
  background-color: #E8ACA3;
}

.btn-red {
  background-color: #BF5343;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.btn-red:hover {
   background-color: #AF5042;
   color: #ffffff;
}

.btn-flat-inv {
  background-color: #ddd;
}

.btn-flat-inv:hover {
  background-color: #ddd;
}

.dropdown-menu.schedule-dropdown {
  min-width: 300px;
  margin-top: 6px;
}

.dropdown-menu.schedule-dropdown h6 {
  margin: 0;
  margin-bottom: 5px;
  padding: 5px 15px;
  padding-top: 0;
  border-bottom: 1px solid #ccc;
}

.profile {
}

.profile-header {
  padding: 15px 15px;
  margin-right: -20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 5px #ddd;
}

.profile-header > .row-fluid > .span3 > img {
  border: 1px solid #ccc;
  padding: 6px;
}

.no-stretch {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
}

.side-nav-fixed {
  position: fixed;
  width: inherit;
}

.profile-message { 
  text-align: center;
  font-size: 17px;
  margin-top: 14px;
}

.input-error > input[type="text"], .input-error > input[type="password"] {
  border-color: #b94a48;
  color: #b94a48;
  -webkit-transition: border-color 1.5s;
  transition: border-color 1.5s;
}

.input-error > label {
  color: #b94a48;
  -webkit-transition: color 1.5s;
  transition: color 1.5s;
}