extends ../layouts/signedin-layout

block content
	.container
		.row-fluid
			.span12
				.span3
					ul.nav.nav-list
						li.nav-header #{userName}
						li.active
							a.active(href="/user/#{userName}") 
								i.icon-home
								| Profile
								i.icon-chevron-right.pull-right
						li
							a(href="/user/#{userName}/schedules") 
								i.icon-calendar
								| Schedules
								i.icon-chevron-right.pull-right

				.span9
					div.profile(id=userName)
						#profile-loader.loading-overlay
						.row-fluid.profile-header.no-stretch(data-edit="false", style="min-height: 200px;")
						