extends ../layouts/signedin-layout

block content
	.container
		.row
			.span3
				ul.nav.nav-list
					li.nav-header Profile
					li.active 
						a.active(href="#") User information
							i.icon-chevron-right.pull-right
					li
						a(href="/user/schedules") Schedules
							i.icon-chevron-right.pull-right

			.span9
				h3 User information
				.row
					.span3
						img(src="/img/defaultProfile.jpg")
					.span3
						h4 Name
						p Kyle Schattler

						h4 Email
						p kyleschattler@gmail.com

						h4 SIS account
						p kps6
