extends ../layouts/signedin-layout

block content
	.container
		.row
			.span3
				ul.nav.nav-list
					li.nav-header #{userName}
					li 
						a(href="/user/#{userName}") 
							i.icon-home
							| Profile
							i.icon-chevron-right.pull-right
					li.active
						a(href="/user/#{userName}/schedules") 
							i.icon-calendar
							| Schedules
							i.icon-chevron-right.pull-right

			.span9
				h3 Schedules
				.row
					.span4
						table.table.table-bordered.table-striped.table-hover
							caption
								h4
									a(href="") Schedule
							thead
								tr
									th Class
									th Instructor
									th Credits
							tbody
								tr
									td CIT480
									td Dr. Golshan
									td 3.00
								tr
									td ENL270
									td Dr. Hruschka
									td 3.00
								tr
									td ...
									td ...
									td ...
					.span4
						table.table.table-bordered.table-striped.table-hover
							caption 
								h4
									a(href="") Schedule
							thead
								tr
									th Class
									th Instructor
									th Credits
							tbody
								tr
									td CIT480
									td Dr. Golshan
									td 3.00
								tr
									td -
									td -
									td -
								tr
									td -
									td -
									td -
					.span4
						table.table.table-bordered.table-striped.table-hover
							caption
								h4
									a(href="") Schedule
							thead
								tr
									th Class
									th Instructor
									th Credits
							tbody
								tr
									td CIT480
									td Dr. Golshan
									td 3.00
								tr
									td ENL270
									td Dr. Hruschka
									td 3.00
								tr
									td ...
									td ...
									td ...
					.span4
						table.table.table-bordered.table-striped.table-hover
							caption
								h4
									a(href="") Schedule
							thead
								tr
									th Class
									th Instructor
									th Credits
							tbody
								tr
									td CIT480
									td Dr. Golshan
									td 3.00
								tr
									td ENL270
									td Dr. Hruschka
									td 3.00
								tr
									td ...
									td ...
									td ...