<div class="span12">
	<table class="table">
		<tr>
			<th>Time</th>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Monday</th>
		</tr>
		<tr>
			<td>6am</td>
		</tr>

		<tr>
			<td>7am</td>
		</tr>
		<tr>
			<td>8am</td>
		</tr>
		<tr>
			<td>9am</td>
		</tr>
		<tr>
			<td>10am</td>
		</tr>
		<tr>
			<td>11am</td>
		</tr>
		<tr>
			<td>12am</td>
		</tr>
		<tr>
			<td>1pm</td>
		</tr>
		<tr>
			<td>2pm</td>
		</tr>
		<tr>
			<td>3pm</td>
		</tr>
		<tr>
			<td>4pm</td>
		</tr>
		<tr>
			<td>5pm</td>
		</tr>
		<tr>
			<td>6pm</td>
		</tr>
		<tr>
			<td>7pm</td>
		</tr>
		<tr>
			<td>8pm</td>
		</tr>
		<tr>
			<td>9pm</td>
		</tr>
		<tr>
			<td>10pm</td>
		</tr>
	</table>
</div>