<div class="span12">
	<table class="table table-bordered table-calendar calendar-fixed-header">
			<thead>
				<tr>
					<th></th>
					<th>Sunday</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
				</tr>
			</thead>
	</table>
	<div class="scrollable">
		<table class="table table-bordered table-calendar">
			<tbody>
				<% for(var i=6; i<23; i++) { %>
					<tr>
						<td class="calendar-time">
							<% if(i>12) { %>
								<div><strong><%= i - 12 %>pm</strong></div>
							<% } else { %>
								<div><strong><%= i %>am</strong></div>
							<% } %>
						</td>

						<% for(var x=0; x<7; x++) { %>
							<td class="time-split">
								<div></div>
								<div></div>
							</td>
						<% } %>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>