<div class="span3">
	<img src="/img/defaultProfile.jpg" style="border-radius: 5px;" class="no-stretch">
	<span style="position:absolute; display: block; top:240px; margin-left: 40px;">
		<a href="#" class="btn btn-red btn-flat">Change photo</a>
	</span>
</div>

<div class="span6">
	<input type="text" name="fullName" value="<%= firstName + ' ' + lastName %>" style="width:100%;" />
	<input type="text" value="Web &amp; Application Development" style="width:100%;" />
	<textarea cols="30" style="width:100%;">Description</textarea>
</div>

<div class="span3">
	<a id="edit-btn" href="#" data-toggle="true" class="btn btn-flat pull-right">Done</a>
</div>