extends ../layouts/signedin-layout

block content
	#advanced-search
		.container
			.row
				.span3
					h3 Advanced Search
				.span9
					div(style="margin-top: 15px;")
						form#advanced-course-search.form-inline(method="GET", action="/api/course")
							.input-append
								input#advanced-course-text.input-xxlarge(type="text")
								button#advanced-course-submit.btn.btn-danger(type="submit") Search
			.row
				.span12
					a#toggle-options(href="#") Hide advanced options
		hr
		#advanced-options.container
			.row
				.span12
					h4 Advanced options
			.row
				.span3
					h5 Year
				.span9	
					select
						option 2013
						option 2012
						option 2011
			br
			.row
				.span3
					h5 Semester
				.span9
					label.radio
						input(type="radio", name="semester-option", checked="checked") 
						| Fall

					label.radio
						input(type="radio", name="semester-option") 
						| Spring

					label.radio
						input(type="radio", name="semester-option") 
						| Summer

					label.radio
						input(type="radio", name="semester-option") 
						| Summer minimester
			br
			.row
				.span3
					h5 Seat availablilty
				.span9
					label.radio
						input(type="radio", name="seat-option", checked="checked") 
						| Classes with open seats

					label.radio
						input(type="radio", name="seat-option") 
						| Filled classes

					label.radio
						input(type="radio", name="seat-option") 
						| All classes
			br
			.row
				.span3
					h5 Distance classes
				.span9
					label.checkbox
						input(type="checkbox")
						| Distance only
			br
			hr

		#results.container(style="display:none;")
			.row
				.span12
					#courses
						#courses-error.alert.alert-danger(style="display:none; text-align: center;")
						table#course-table.table.table-bordered.table-striped.table-hover