extends ../layouts/signedin-layout

block content
	#advanced-search
		#results.container(style="display:none;")
			.row
				.span12
					#courses
						#courses-error.alert.alert-danger(style="display:none; text-align: center;")
						table#course-table.table.table-bordered.table-striped.table-hover
						.pagination.pagination-centered.pagination-large