extends ../layouts/signedin-layout

block content
	.container
		table.table.table-bordered.table-striped.table-hover
			thead
				tr
					th Class number
					th Class title
					th Instructor
					th Credits
					th Days
					th Time
					th Location
			tbody
				tr
					td CIT480
					td Advanced Databases
					td Dr. Golshan
					td 3.00
					td Mon - Fri
					td 9:30am - 11:00am
					td ATHS 203
				tr
					td CIT480
					td Advanced Databases
					td Dr. Golshan
					td 3.00
					td Mon - Fri
					td 9:30am - 11:00am
					td ATHS 203